/****************************/
/********* GENERAL *********/
/****************************/


/********************************/
/********* DESCRIPCION *********/
/******************************/
.servicio {
  .servicio-descripcion{
    text-align: left;
    padding-left: 50px;
    .section-subtitle{
      text-transform: uppercase;
      color: $main-color;
    }
    img {
      width: 570px;
      height: 400px;
      margin-bottom: 25px;
    }
    p {
      line-height: 1.2em;
      margin-bottom: 25px;
    }
    .btn-default{
      @extend .btn-tecno;
    }
  }
}