/****************************/
/********* GENERAL *********/
/****************************/
.browser{
  .input-search-tecno{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 40px;
    border-radius: 5px 0 0 5px;
  }
  .btn-search-tecno{
    position: absolute;
    height: 40px;
    width: 40px;
    background: $main-color;
    color: #fff;
    border-radius: 0px 5px 5px 0;
    padding-top: 3px;
  }
}

/***************************/
/********* GRILLA *********/
/*************************/
.grilla {
  .elementos {
    li{
      overflow: auto;
      width: 33.3%;
      float: left;
      height: 350px;
      .elemento {
        @extend .img-border-effect;  
        &:hover .elemento-detalle{
          opacity: 1;
        }
        img{
          height: 200px;
        }
        .atlas-copy{
          width: 80px;
          padding: 2px;
          background: $main-color;
          color: #fff;
          font-size: .8em;
          position: absolute;
          bottom: 90px;
          right: 30px;
          opacity: 0.8;
        }
        .elemento-detalle {
          @extend .img-hover-effect;
          left: 10px;
          right: 10px;
          top: 10px;
          height: 200px;
          i{
            position: relative;
            top: 40%;
            color: #fff;
            font-size: 0.8em;
          }
        }
        .elemento-title{
          text-align: left;
          margin-top: 25px;
          color: $main-color;
          .section-subtitle{
            font-size: 1em;
          }
        }
      }
    }
  }
  .pagination{
    li a {
      display: inline-block;
      margin-right: 10px;
      background: $main-color;
      color: #fff;
    }
  }
}