@media(max-width: 992px){
  .lang {
    .dropdown-toggle{
      padding: 0;
    }
  }
}
@media(max-width:768px){
  header{
    .exchange{
      .desc {
        display:none;
      }
    }
  }
  /********** lang selector **********/
  .lang {
    .dropdown-toggle{
      padding: 8px;
    }
  }
  /********** login form ********/
  #login-dp{
    background-color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

@media(max-width:415px){
  /********** Header **********/
  .navbar-default{
    margin-bottom: -50px;
  }
  header{
    text-align: left;
    nav {
      text-align: center;
      position: relative;
      top: -65px;
      .navbar-collapse{
        margin-top: 15px;
      }
    }
    
  }
}