// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$main-color: #57518d;
$title-color: #464646;
$subtitle-color: #a0a0a0;
$btn-color: #f15a25;
$box-color: #fff;