// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$main-color: #001263;
$title-color: #001263;
$subtitle-color: #777; 
$btn-color: #fff;
$box-color: #fff;