/* CSS Document  */
/* Project name: JeovanyApp */
/* File name: styles.css */
/* Description: Hoja de estilos global */
/* Creation date: Octubre de 2016 */
/* Author: Juan Daniel Bonforti */
/* Author's eMail: juan.bonforti@gmail.com */
/********** FONTS (Google-fonts) **********/
@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway:300,400");
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.woff2") format("woff2"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesome-webfont") format("svg"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Oswald";
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.col-md-12, .col-md-8, .col-md-6, .col-md-4,
.col.lg-12, .col.lg-8, .col.lg-6, .col.lg-4,
.col.sm-12, .col.sm-8, .col.sm-6, .col.sm-4,
.col.xs-12, .col.xs-8, .col.xs-6, .col.xs-4 {
  padding: 0px; }

/*************************************/
/*=========     GENERAL    =========*/
/***********************************/
body {
  font-family: "Raleway"; }

img {
  width: 100%; }

section {
  padding: 40px 0 40px 0;
  text-align: center; }
  section .section-title {
    font-family: "Oswald";
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase; }
  section .section-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px; }

i.fa {
  font-size: 30px; }

.fixed {
  position: fixed;
  z-index: 20;
  width: 100%; }

/*************************************/
/*=========     HEADER     =========*/
/***********************************/
header .header-main .navbar-default {
  padding: 10px 0 10px 0;
  background-color: #001263;
  border-color: #001263;
  border-radius: 0;
  margin-bottom: 0;
  text-transform: uppercase; }
  header .header-main .navbar-default button {
    color: #fff; }
  header .header-main .navbar-default .navbar-toggle:focus, header .header-main .navbar-default .navbar-toggle:hover {
    background-color: #001263;
    border-color: #fff; }
  header .header-main .navbar-default .navbar-nav > li > a {
    color: #fff; }
    header .header-main .navbar-default .navbar-nav > li > a.borde-centro {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      overflow: hidden; }
      header .header-main .navbar-default .navbar-nav > li > a.borde-centro:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: #47daff;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      header .header-main .navbar-default .navbar-nav > li > a.borde-centro:hover:before, header .header-main .navbar-default .navbar-nav > li > a.borde-centro:focus:before, header .header-main .navbar-default .navbar-nav > li > a.borde-centro:active:before {
        left: 0;
        right: 0; }
  header .header-main .navbar-default .logo a {
    padding: 0; }
    header .header-main .navbar-default .logo a img {
      height: 100%; }
header #myCarousel .carousel-inner img {
  max-height: 600px; }
header #myCarousel .carousel-inner .carousel-caption {
  background: #001263;
  opacity: 0.5;
  padding-bottom: 20px;
  bottom: 45px;
  width: 15%;
  left: 75%; }

/*************************************/
/*==========   SERVICIOS  ==========*/
/***********************************/
#servicios .servicio {
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px; }
  #servicios .servicio img {
    border: 1px solid #e3e3e3; }
  #servicios .servicio .servicio-detalle {
    position: absolute;
    bottom: 0;
    font-size: 48px;
    text-transform: uppercase;
    left: 0%;
    background-color: rgba(155, 155, 155, 0.3);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0; }
    #servicios .servicio .servicio-detalle h1 {
      position: relative;
      top: 40%;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      background: rgba(30, 30, 30, 0.5);
      color: #fff; }
  #servicios .servicio:hover .servicio-detalle {
    opacity: 1; }

/*************************************/
/*=========     BANNER     =========*/
/***********************************/
#banner p {
  display: inline-block; }
#banner img {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }

/*************************************/
/*=========     CONTACTO   =========*/
/***********************************/
#contacto {
  padding-bottom: 0; }
  #contacto .datosLegales li {
    overflow: auto;
    padding-left: 140px;
    margin-bottom: 20px; }
    #contacto .datosLegales li i {
      float: left; }
    #contacto .datosLegales li .datosLegales-descripcion {
      float: left;
      margin-left: 30px;
      text-align: left; }
  #contacto .redesSociales {
    color: #fff; }
    #contacto .redesSociales .icon {
      width: 45px;
      height: 45px;
      padding-top: 6px;
      display: inline-block; }
      #contacto .redesSociales .icon.twitter {
        background-color: #55acee; }
      #contacto .redesSociales .icon.facebook {
        background-color: #3b5998; }
      #contacto .redesSociales .icon.google {
        background-color: #dd4b39; }
      #contacto .redesSociales .icon.linkedin {
        background-color: #007bb5; }
  #contacto form {
    text-align: left; }
    #contacto form label {
      margin-bottom: 5px; }
    #contacto form .form-group {
      padding-right: 10px !important; }
      #contacto form .form-group .form-control {
        margin-bottom: 25px; }

/*************************************/
/*=========     FOOTER     =========*/
/***********************************/
footer {
  padding: 10px 0 10px 0;
  background-color: #001263;
  color: #fff;
  text-align: center; }

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

/*# sourceMappingURL=style.css.map */
