/* CSS Document  */
/* Project name: JeovanyApp */
/* File name: styles.css */
/* Description: Hoja de estilos global */
/* Creation date: Octubre de 2016 */
/* Author: Juan Daniel Bonforti */
/* Author's eMail: juan.bonforti@gmail.com */
/********** FONTS (Google-fonts) **********/
@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway:300,400");
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.woff2") format("woff2"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesome-webfont") format("svg"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Oswald";
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.col-md-12, .col-md-8, .col-md-6, .col-md-4,
.col.lg-12, .col.lg-8, .col.lg-6, .col.lg-4,
.col.sm-12, .col.sm-8, .col.sm-6, .col.sm-4,
.col.xs-12, .col.xs-8, .col.xs-6, .col.xs-4 {
  padding: 0px; }

/*************************************/
/*=========     GENERAL    =========*/
/***********************************/
body {
  font-family: "Raleway"; }

img {
  width: 100%; }

section {
  padding: 40px 0 40px 0;
  text-align: center; }
  section .section-title {
    font-family: "Oswald";
    font-size: 1.5em;
    margin-bottom: 2em;
    text-transform: uppercase;
    position: relative; }
    section .section-title:after {
      content: "";
      height: 1px;
      background: #e3e3e3;
      position: absolute;
      bottom: -20px;
      width: 50%;
      left: 25%; }
  section .section-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px; }

.page-title {
  font-family: "Oswald";
  font-size: 1.5em;
  margin-bottom: 2em;
  text-transform: uppercase;
  position: relative; }

i.fa {
  font-size: 30px; }

.fixed {
  position: fixed;
  z-index: 20;
  width: 100%;
  box-shadow: 2px 2px 10px #434343; }

.btn-tecno, .productos .producto-descripcion .btn-default, .servicio .servicio-descripcion .btn-default {
  border-color: #001263;
  color: #001263;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 0; }
  .btn-tecno:hover, .productos .producto-descripcion .btn-default:hover, .servicio .servicio-descripcion .btn-default:hover, .btn-tecno:focus, .productos .producto-descripcion .btn-default:focus, .servicio .servicio-descripcion .btn-default:focus {
    background-color: #001263;
    color: #fff; }

/****************************************/
/*=========     HOVER IMG     =========*/
/**************************************/
.img-border-effect, #servicios .servicio, .grilla .elementos li .elemento {
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  position: relative; }
  .img-border-effect img, #servicios .servicio img, .grilla .elementos li .elemento img {
    border: 1px solid #e3e3e3; }

.img-hover-effect, #servicios .servicio .servicio-detalle, .grilla .elementos li .elemento .elemento-detalle {
  position: absolute;
  font-size: 48px;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.3);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0; }

/*************************/
/********* MENU *********/
/***********************/
.menu-categorias {
  text-align: left; }
  .menu-categorias .menu-categoria-contenido {
    padding: 20px 0 20px 20px;
    position: relative;
    border-bottom: 1px solid #dcdcdc; }
    .menu-categorias .menu-categoria-contenido:before {
      position: absolute;
      top: 20px;
      left: 0;
      display: block;
      content: "\f0da";
      font-family: 'FontAwesome';
      font-size: 14px;
      margin-right: 10px;
      font-style: normal;
      font-weight: normal;
      line-height: 1.2; }
    .menu-categorias .menu-categoria-contenido a {
      color: #001263; }
      .menu-categorias .menu-categoria-contenido a:hover {
        text-decoration: none; }
    .menu-categorias .menu-categoria-contenido .menu-categoria-contenido-tipos li {
      margin-top: 10px;
      margin-left: 15px;
      transition: all .2s;
      padding: 5px; }
      .menu-categorias .menu-categoria-contenido .menu-categoria-contenido-tipos li:hover {
        background-color: #001263; }
        .menu-categorias .menu-categoria-contenido .menu-categoria-contenido-tipos li:hover a {
          color: #fff; }
      .menu-categorias .menu-categoria-contenido .menu-categoria-contenido-tipos li a {
        color: #95989A; }
        .menu-categorias .menu-categoria-contenido .menu-categoria-contenido-tipos li a:hover {
          text-decoration: none; }
  .menu-categorias:after {
    content: "";
    width: 1px;
    background-color: #dcdcdc;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px; }

/*************************************/
/*=========     FOOTER     =========*/
/***********************************/
footer {
  padding: 10px 0 10px 0;
  background-color: #001263;
  color: #fff;
  text-align: center; }

/*************************************/
/*=========     HEADER     =========*/
/***********************************/
header .header-main .navbar-default {
  padding: 10px 0 10px 0;
  background-color: #001263;
  border-color: #001263;
  border-radius: 0;
  margin-bottom: 0;
  text-transform: uppercase; }
  header .header-main .navbar-default button {
    color: #fff; }
  header .header-main .navbar-default .navbar-toggle:focus, header .header-main .navbar-default .navbar-toggle:hover {
    background-color: #001263;
    border-color: #fff; }
  header .header-main .navbar-default .navbar-nav > li > a {
    color: #fff; }
    header .header-main .navbar-default .navbar-nav > li > a.borde-centro {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      overflow: hidden; }
      header .header-main .navbar-default .navbar-nav > li > a.borde-centro:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: #47daff;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      header .header-main .navbar-default .navbar-nav > li > a.borde-centro:hover:before, header .header-main .navbar-default .navbar-nav > li > a.borde-centro:focus:before, header .header-main .navbar-default .navbar-nav > li > a.borde-centro:active:before {
        left: 0;
        right: 0; }
  header .header-main .navbar-default .logo a {
    padding: 0; }
    header .header-main .navbar-default .logo a img {
      height: 100%; }
header #myCarousel .carousel-inner img {
  max-height: 600px; }
header #myCarousel .carousel-inner .carousel-caption {
  background: #001263;
  opacity: 0.5;
  padding-bottom: 20px;
  bottom: 45px;
  width: 15%;
  left: 75%; }

/*************************************/
/*==========   SERVICIOS  ==========*/
/***********************************/
#servicios .servicio:hover .servicio-detalle {
  opacity: 1; }
#servicios .servicio .servicio-detalle {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }
  #servicios .servicio .servicio-detalle h1 {
    position: relative;
    top: 40%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: rgba(30, 30, 30, 0.5);
    color: #fff;
    font-size: 0.8em; }

/*************************************/
/*=========     BANNER     =========*/
/***********************************/
#banner p {
  display: inline-block; }
#banner img {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }

/*************************************/
/*=========     CONTACTO   =========*/
/***********************************/
#contacto {
  padding-bottom: 0; }
  #contacto .datosLegales li {
    overflow: auto;
    padding-left: 140px;
    margin-bottom: 20px; }
    #contacto .datosLegales li i {
      float: left; }
    #contacto .datosLegales li .datosLegales-descripcion {
      float: left;
      margin-left: 30px;
      text-align: left; }
  #contacto .redesSociales {
    color: #fff; }
    #contacto .redesSociales .icon {
      width: 45px;
      height: 45px;
      padding-top: 6px;
      display: inline-block; }
      #contacto .redesSociales .icon.twitter {
        background-color: #55acee; }
      #contacto .redesSociales .icon.facebook {
        background-color: #3b5998; }
      #contacto .redesSociales .icon.google {
        background-color: #dd4b39; }
      #contacto .redesSociales .icon.linkedin {
        background-color: #007bb5; }
      #contacto .redesSociales .icon a, #contacto .redesSociales .icon:hover, #contacto .redesSociales .icon:visited, #contacto .redesSociales .icon:focus {
        color: #fff; }
  #contacto form {
    text-align: left; }
    #contacto form label {
      margin-bottom: 5px; }
    #contacto form .form-group {
      padding-right: 10px !important; }
      #contacto form .form-group .form-control {
        margin-bottom: 25px; }

/****************************/
/********* GENERAL *********/
/****************************/
.browser .input-search-tecno {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 40px;
  border-radius: 5px 0 0 5px; }
.browser .btn-search-tecno {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #001263;
  color: #fff;
  border-radius: 0px 5px 5px 0;
  padding-top: 3px; }

/***************************/
/********* GRILLA *********/
/*************************/
.grilla .elementos li {
  overflow: auto;
  width: 33.3%;
  float: left;
  height: 350px; }
  .grilla .elementos li .elemento:hover .elemento-detalle {
    opacity: 1; }
  .grilla .elementos li .elemento img {
    height: 200px; }
  .grilla .elementos li .elemento .atlas-copy {
    width: 80px;
    padding: 2px;
    background: #001263;
    color: #fff;
    font-size: .8em;
    position: absolute;
    bottom: 90px;
    right: 30px;
    opacity: 0.8; }
  .grilla .elementos li .elemento .elemento-detalle {
    left: 10px;
    right: 10px;
    top: 10px;
    height: 200px; }
    .grilla .elementos li .elemento .elemento-detalle i {
      position: relative;
      top: 40%;
      color: #fff;
      font-size: 0.8em; }
  .grilla .elementos li .elemento .elemento-title {
    text-align: left;
    margin-top: 25px;
    color: #001263; }
    .grilla .elementos li .elemento .elemento-title .section-subtitle {
      font-size: 1em; }
.grilla .pagination li a {
  display: inline-block;
  margin-right: 10px;
  background: #001263;
  color: #fff; }

/****************************/
/********* GENERAL *********/
/****************************/
/********************************/
/********* DESCRIPCION *********/
/******************************/
.productos .producto-descripcion {
  text-align: left;
  padding-left: 50px; }
  .productos .producto-descripcion .section-subtitle {
    text-transform: uppercase;
    color: #001263; }
  .productos .producto-descripcion .carousel {
    margin-bottom: 25px; }
  .productos .producto-descripcion .item .atlas-copy {
    width: 139px;
    padding: 2px;
    background: #001263;
    color: #fff;
    font-size: .8em;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0.8;
    height: 30px;
    padding-top: 6px; }
  .productos .producto-descripcion p {
    line-height: 1.2em;
    margin-bottom: 25px; }
  .productos .producto-descripcion .producto-informacion {
    text-align: left;
    border-radius: 0 0 5px 5px;
    border: 1px solid #e3e3e3;
    padding-left: 20px;
    padding-right: 15px; }
    .productos .producto-descripcion .producto-informacion img {
      width: 80px;
      height: 40px; }

/****************************/
/********* GENERAL *********/
/****************************/
/********************************/
/********* DESCRIPCION *********/
/******************************/
.servicio .servicio-descripcion {
  text-align: left;
  padding-left: 50px; }
  .servicio .servicio-descripcion .section-subtitle {
    text-transform: uppercase;
    color: #001263; }
  .servicio .servicio-descripcion img {
    width: 570px;
    height: 400px;
    margin-bottom: 25px; }
  .servicio .servicio-descripcion p {
    line-height: 1.2em;
    margin-bottom: 25px; }

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

/*# sourceMappingURL=style.css.map */
